<div class='wheather-main-container'>
  <div class='wheather-whole-data-container'>
    <img class='icon-wheather' src='{{icon}}' width='35' height='35' />
    <h2 class='city-name'>{{city.name}}, {{city.country}}</h2>
    <div class='values-container'>
      <div class='current-temperature'>{{temperature.value}}&deg</div>
      <div class='min-max-temperature-container'>
        <div class='min-temperature'>
          <span class='min-t-text'>min</span>
          <br />
          <span class='min-t-value'>{{temperature.min}} &deg</span>
        </div>
        <span class='t-divider'> | </span>
        <div class='max-temperature'>
          <span class='max-t-text'>max</span>
          <br />
          <span class='max-t-value'>{{temperature.max}} &deg</span>
        </div>
      </div>
    </div>
  </div>
</div>