<section class='days-of-week'>
  <div class=''>
    <h2 class='location1'>{{city.name}}, {{city.country}}</h2>
    <div class='h2-wripper'>
      <h2 class='location'>{{city.name}}, {{city.country}}</h2>
      <div class='temperature-wrapper'>
        <ul class='daily-temperature'>
          {{#each daysData}}
            <li class='daily-temperature__day'>
              <p class='daily-temperature__week-day'>{{date.dayName}}</p>
              <p class='daily-temperature__date'>{{date.day}} {{date.month}}</p>
              <img class='daily-temperature__img' src='{{weather.icon}}' width='40' height='40'/>
              <ul class='daily-temperature__range'>
                <li class='daily-temperature__range-item'>
                  <p class='daily-temperature__range'>min</p>
                  <p class='daily-temperature__range-value'>{{temperature.min}}&deg</p>
                </li>
                <li class='daily-temperature__range-item'>
                  <p class='daily-temperature__range'>max</p>
                  <p class='daily-temperature__range-value'>{{temperature.max}}&deg</p>
                </li>
              </ul>
              <button
                type='button'
                class='daily-temperature__additional-info'
                name ='btn'
                data-index={{@index}}
              >more info</button>
            </li>
          {{/each}}
        </ul>
      </div>
      <div class='btn-scroll'>
        <button type='button' class='day prev' data-action='prev'><</button>
        <button type='button' class='day next' data-action='next'>></button>
      </div>
    </div>
  </div>
</section>